<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/responsive.min.css")" rel="stylesheet" type="text/css" />
    <style type="text/css">
        nav[role="navigation"] ul {
            padding: 0;
        }

        nav[role="navigation"] li {
            display: inline-block;
            font-size: 2em;
            margin-right: 1em;
        }
    </style>
</head>
<body>
    <div class="container">
        <header>
            <h1>ImageProcessor NET4.5</h1>
        </header>
        <nav role="navigation">
            <ul>
                <li>@Html.ActionLink("Jpeg", "Index")</li>
                <li>@Html.ActionLink("Gif", "Gif")</li>
                <li>@Html.ActionLink("Png", "Png")</li>
                <li>@Html.ActionLink("Png8", "Png8")</li>
                <li>@Html.ActionLink("Bmp", "Bmp")</li>
                <li>@Html.ActionLink("Tiff", "Tiff")</li>
                <li>@Html.ActionLink("WebP", "WebP")</li>
                <li>@Html.ActionLink("External", "External")</li>
            </ul>
        </nav>
        <section>
            @RenderBody()
        </section>
    </div>
</body>
</html>
